:root {
  --ifm-color-primary: #1d4ed8;
  --ifm-color-primary-dark: #1b46c2;
  --ifm-color-primary-darker: #1941b6;
  --ifm-color-primary-darkest: #153595;
  --ifm-color-primary-light: #3260dc;
  --ifm-color-primary-lighter: #3e6bdf;
  --ifm-color-primary-lightest: #5f86e5;
}

[data-theme='dark'] {
  --ifm-color-primary: #6ea8ff;
  --ifm-color-primary-dark: #4d8dff;
  --ifm-color-primary-darker: #3c80ff;
  --ifm-color-primary-darkest: #1f66f2;
  --ifm-color-primary-light: #8fbcff;
  --ifm-color-primary-lighter: #a0c6ff;
  --ifm-color-primary-lightest: #c9dfff;
}
